# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Square Fall.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\INNO\Square Fall\.idea\.idea.Square Fall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
